body {
	background-color: #e9ebee;
}

h1 {
	padding-bottom: 20px;
	font-size: 48px;
}

div span {
	display: block;
	padding-right: 9px;
}

div img#dumbbell {
	margin-right: 7px;
}

div ul li {
	margin: 0 0 0 0;
}

.exLink:hover {
	color: blue;
	text-decoration: underline;
}

.navbar {
	background-color: #e68a00;
}

.navbar a {
	color: black;
}

.glyphicon {
	font-size: 22px;
}

.panel-body-custom {
	position:relative;
	display:block;
	padding:10px 15px;
	margin-bottom:-1px;
	background-color:#fff;
	border:1px solid #ddd;
	font-size: 20px;
}

.panel a {
	text-decoration: none;
	color: black;
}

.panel-body-custom:hover {
	background-color: #e6e6e6;
}

.panel-body-custom.list-expand {
	visibility: collapse;
}

.navbar-brand {
	font-size: 30px;
}

.navbar {
	margin-bottom: 20px;
	padding: 25px;
	font-size: 20px;
}