body {
	margin: 0;
}

body#body1 {background-color:powderblue;}

section {border: 3px solid red; padding: 5px; margin: 65px 10px 10px;}

img#rilakkuma {
	display:block;
	margin:auto;
}

div#map {margin-left: 25px;}

div#div1, div#div2 {
	float: left;
	width: 300px;
	height: 260px;
	margin: 10px;
	padding: 10px;
	border: 3px solid red;
}

/* Nav Bar */

ul#nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
	background-color: #99ff66;
	position: fixed;
	top: 0;
	width: 100%;
}

li#nav {
	float: left;
}

li#nav a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li#nav a:hover:not(.active) {
	background-color: #ffcc00;
}

li#nav a.active {
	color: white;
	background-color: #009933;
}